@import url('../../../../customs/assets/light/main.css');
@import url('../../../../customs/plugins/light/perfect-scrollbar/perfect-scrollbar.css');
@import url('../../../../../plugins/waves/waves.min.css');
@import url('./structure.css');
/*
    Importing highlight.js CSS code 

    Just for demo purpose only
	
	@Note:-  monokai-sublime.css stylesheet is for highliting the code;

*/
@import '../../../../../plugins/highlight/styles/monokai-sublime.css';
